.PersonBox
{
    display: block;
    width: 120px;
    font-size: 16px;
    border: 1px solid #000;
    border-radius: 1em;
    float:left;
    margin:20px;
    padding: 20px;
    box-shadow: 0 30px 25px -15px rgba(16, 255, 215, 0.57);
    font-family: fantasy;
    
}

.PersonBoxRed
{ 
    border: 1px solid red;
    box-shadow: 0 30px 25px -15px rgba(255,16,39,0.57);
    
}

 